.detail-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
}

.detail-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 1480px;
    height: 769px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
}

.detail-image-container {
    margin: 1%;
}

.detail-image {
    width: 700px;
    height: 737px;
}

.detail-info-container {
    display: flex;
    flex-direction: column;
    margin-top: 2.5%;
    margin-right: 10%;
}

.detail-main-title {
    text-align: left;
    font: normal normal normal 34px/23px Nunito;
    letter-spacing: 0px;
    color: #555555;
    opacity: 1;
    margin-left: 2.5%;
}

.main-container {
    margin-top: 5%;
    margin-bottom: 2.5%;
}

.container {
    display: flex;
    flex-direction: row;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
}

.detail-title {
    text-align: left;
    font: normal normal bold 15px/20px Nunito;
    letter-spacing: 0px;
    color: #525252;
    opacity: 1;
    margin-right: 2.5%;
}

.detail-name {
    text-align: left;
    font: normal normal normal 15px/20px Nunito;
    letter-spacing: 0px;
    color: #525252;
    opacity: 1;
}

.detail-price {
    text-align: left;
    font: normal normal bold 25px/23px Nunito;
    letter-spacing: 0px;
    color: #525252;
    opacity: 1;
    margin-left: 2.5%;
    margin-bottom: 5%;
}

.detail-button-container {
    margin-bottom: 5%;
}

.detail-buy-button {
    width: 235px;
    height: 45px;

    white-space: nowrap;
    margin-left: 1em;
    border: none;
    color: #4B9CE2;
    border-radius: 8px;
    text-decoration: none;

    background: #4B9CE2 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;

    text-align: center;
    font: normal normal bold 18px/24px Nunito;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.detail-offer-button {
    width: 235px;
    height: 45px;

    white-space: nowrap;
    margin-left: 1em;
    border: none;
    border-radius: 8px;
    text-decoration: none;

    background: #F0F8FF 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;

    text-align: center;
    font: normal normal bold 18px/24px Nunito;
    letter-spacing: 0px;
    color: #4B9CE2;
    opacity: 1;
}

.detail-explanation {
    text-align: left;
    font: normal normal bold 18px/24px Nunito;
    letter-spacing: 0px;
    color: #525252;
    opacity: 1;
    margin-left: 2.5%;
}

.detail-pharagraph {
    text-align: left;
    font: normal normal normal 15px/23px Nunito;
    letter-spacing: 0px;
    color: #555555;
    opacity: 1;
    margin-left: 2.5%;
    margin-right: 30%;
}