.home-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #F2F2F2;
}

.poster {
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.poster-deneme {
    width: 80%;
}

.category-container {
    display: flex;
    margin-left: 20%;
}

.category-container ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.category-container ul li {
    margin-right: 2.5%;
    color: var(--unnamed-color-525252);
    text-align: center;
    font: normal normal 600 18px/24px Nunito;
    letter-spacing: 0px;
    color: #525252;
    opacity: 1;
}

.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 5%;
    padding-left: 5%;
}

.products-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 280px;
    height: 392px;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.card-images-container {
    width: 280px;
    height: 392px;
}

.card-images-container img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 297px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
    margin-bottom: 7.5%;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.brand {
    color: var(--unnamed-color-4b9ce2);
    text-align: left;
    font: normal normal bold 15px/22px Nunito;
    letter-spacing: 0px;
    color: #4B9CE2;
    opacity: 1;
}

.color {
    color: var(--unnamed-color-3e3e3e);
    text-align: left;
    font: normal normal bold 13px/22px Nunito;
    letter-spacing: 0px;
    color: #3E3E3E;
}

.color span {
    color: var(--unnamed-color-3e3e3e);
    text-align: left;
    font: normal normal normal 13px/22px Nunito;
    letter-spacing: 0px;
    color: #3E3E3E;
}

.price {
    color: var(--unnamed-color-3e3e3e);
    text-align: left;
    font: normal normal bold 18px/22px Nunito;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
    margin-left: 2.5%;
    margin-bottom: 7.5%;
}










.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}