.home-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #F2F2F2;
}

.home-container {}


.poster {
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.poster-deneme {
    width: 80%;
}

.category-container {
    display: flex;
    justify-content: center;
}

.category-container ul {
    list-style-type: none;
}

.category-container ul li {
    float: left;
    margin-right: 2em;
    cursor: pointer;
}

.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.products-container {
    display: flex;
    justify-content: center;
    background-color: red;
    margin: 2.5%;
}

.products-card {}

.card-images {
    display: flex;
    justify-content: center;
}












.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}